<!DOCTYPE html>
<html ng-app="Scrobble">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Scrobble</title>

		<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>

		<script src="./bower_components/angular/angular.js" type="text/javascript" ></script>
		<script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
		<script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
		<script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
		<script src="./bower_components/angular-route/angular-route.min.js" type="text/javascript" ></script>

		<script type="text/javascript" src="./scripts/app.js"></script>
		<script type="text/javascript" src="./scripts/controllers/MainController.js"></script>
		<script type="text/javascript" src="./scripts/controllers/SignController.js"></script>
		<script type="text/javascript" src="./scripts/controllers/ToolbarController.js"></script>

		<link rel="stylesheet" type="text/css" href="./styles/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./styles/css/styles.css">
	</head>
	<body>
		<md-content>
			<md-toolbar class="md-hue-2" ng-controller="ToolbarController">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="Menu">
						<i class="material-icons md-light">menu</i>
					</md-button>
					<h2>
						<span>Scrobble</span>
					</h2>
					<span flex></span>
					<md-button ng-click="signIn(this)" aria-label="Entrar">
						Entrar
					</md-button>
					<md-button ng-click="signUp(this)" aria-label="Criar conta">
						Criar conta
					</md-button>
				</div>
			</md-toolbar>

			<div ng-view></div>
		</md-content>
	</body>
</html>