<div class="container content">
	<div class="row">
		<div class="col-md-6">
			<md-card class="card-sign">
				<div class="row row-buttons">
					<div class="col-md-6">
						<md-button class="md-raised md-primary btn-facebook" ng-click="facebook()">
							Entrar com Facebook
						</md-button>
					</div>
					<div class="col-md-6">
						<md-button class="md-raised md-primary btn-google" ng-click="google()">
							Entrar com Google+
						</md-button>
					</div>
				</div>
				<form name="signInForm" ng-submit="signIn()">
					<div class="row">
						<div class="col-md-12">
							<h2>Entrar</h2>
							<md-input-container class="md-block">
								<label>E-mail</label>
								<input ng-model="login.email" ng-required="true" name="email" type="email">
								<div ng-messages="signInForm.email.$error">
									<div ng-message="email">Digite um e-mail válido</div>
									<div ng-message="required">Campo obrigatório</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Senha</label>
								<input ng-model="login.password" ng-required="true" name="password" type="password">
								<div ng-messages="signInForm.password.$error">
									<div ng-message="required">Campo obrigatório</div>
								</div>
							</md-input-container>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<md-button class="md-primary btn-forget">Esqueci a senha</md-button>
						</div>
						<div class="col-md-6">
							<md-button type="submit" class="md-raised md-warn btn-signin" ng-disabled="signInForm.$invalid">
								Entrar
							</md-button>
						</div>
					</div>
				</form>
			</md-card>
		</div>
		<div class="col-md-6">
			<md-card class="card-sign">
				<form name="signUpForm" ng-submit="signUp()">
					<div class="row">
						<div class="col-md-12">
							<h2>Criar conta</h2>
							<md-input-container class="md-block">
								<label>Nome</label>
								<input ng-model="user.name" ng-required="true" name="name" type="name">
								<div ng-messages="signUpForm.name.$error">
									<div ng-message="required">Campo obrigatório</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>E-mail</label>
								<input ng-model="user.email" ng-required="true" name="email" type="email">
								<div ng-messages="signUpForm.email.$error">
									<div ng-message="email">Digite um e-mail válido</div>
									<div ng-message="required">Campo obrigatório</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Senha</label>
								<input ng-model="user.password" ng-required="true" name="password" type="password">
								<div ng-messages="signUpForm.password.$error">
									<div ng-message="required">Campo obrigatório</div>
								</div>
							</md-input-container>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<md-button type="submit" class="md-raised md-warn btn-signup" ng-disabled="signUpForm.$invalid">
								Criar conta
							</md-button>
						</div>
					</div>
				</form>
			</md-card>
		</div>
	</div>
</div>