<md-dialog aria-label="Cadastro" ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Cadastro</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<i class="material-icons md-light">close</i>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div class="row">
					<div class="col-md-6">
						<md-button class="md-raised md-primary">Entrar com Facebook</md-button>
					</div>
					<div class="col-md-6">
						<md-button class="md-raised md-primary">Entrar com Twitter</md-button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<h2>Entrar</h2>
						<md-input-container class="md-block" flex-gt-sm>
							<label>E-mail</label>
							<input ng-model="user.firstName">
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Senha</label>
							<input ng-model="user.firstName">
						</md-input-container>
					</div>
					<div class="col-md-6 col-sm-12">
						<h2>Criar conta</h2>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Nome</label>
							<input ng-model="user.firstName">
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>E-mail</label>
							<input ng-model="user.firstName">
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Senha</label>
							<input ng-model="user.firstName">
						</md-input-container>
					</div>
				</div>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>