<div class="container content">
	<md-card class="card-sign">
		<div class="row">
			<div class="col-md-3">
				<md-button class="md-raised md-primary">Entrar com Facebook</md-button>
			</div>
			<div class="col-md-3">
				<md-button class="md-raised md-primary">Entrar com Twitter</md-button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<h2>Entrar</h2>
				<md-input-container class="md-block" flex-gt-sm>
					<label>E-mail</label>
					<input ng-model="user.firstName">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Senha</label>
					<input ng-model="user.firstName">
				</md-input-container>
			</div>
			<div class="col-md-6 col-sm-12">
				<h2>Criar conta</h2>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Nome</label>
					<input ng-model="user.firstName">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>E-mail</label>
					<input ng-model="user.firstName">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Senha</label>
					<input ng-model="user.firstName">
				</md-input-container>
			</div>
		</div>
	</md-card>
</div>