
<div class="container content">
	<div class="row">
		<div class="col-md-12">
			<md-card class="user-profile" layout="column">
				<div class="cover"></div>
				<div class="profile"><img ng-src="{{ user.providerData[0].photoURL }}" /></div>
				<div class="name">{{ user.displayName }}</div>
				<div class="friends">0 AMIGOS - 0 COMENTÁRIOS</div>
				<div class="about">Desenvolvedor do Scrobble e estudante de Ciências da Computação na UFRPE</div>
				
				<div class="tab-counter">
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="big">000</div>
						<div class="normal">FILMES</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="big">000</div>
						<div class="normal">LIVROS</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="big">000</div>
						<div class="normal">HQs</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="big">000</div>
						<div class="normal">JOGOS</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="big">000</div>
						<div class="normal">ANIMES</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="big">000</div>
						<div class="normal">MÚSICAS</div>
					</div>
				</div>
			</md-card>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="title-section">Conectar serviços</div>
		</div>
	</div>

	<div class="row services">
		<div class="col-md-2 col-sm-4 col-xs-6">
			<md-button class="md-raised md-primary movies" ng-click="movies(this)">
				<i class="material-icons">movie</i>
				<div>FILMES</div>
			</md-button>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<md-button class="md-raised md-primary books">
				<i class="material-icons">collections_bookmark</i>
				<div>LIVROS</div>
			</md-button>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<md-button class="md-raised md-primary games" ng-click="games(this)">
				<i class="material-icons">gamepad</i>
				<div>JOGOS</div>
			</md-button>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<md-button class="md-raised md-primary hqs">
				<i class="material-icons">library_books</i>
				<div>HQs</div>
			</md-button>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<md-button class="md-raised md-primary animes">
				<i class="material-icons">local_movies</i>
				<div>ANIMES</div>
			</md-button>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<md-button class="md-raised md-primary musics">
				<i class="material-icons">music_note</i>
				<div>MÚSICAS</div>
			</md-button>
		</div>
	</div>
</div>