md-content.game-of-thrones-bg {
	background-image: url('../../images/game-of-thrones-bg.jpg');
	background-position: top right;
}

.card-sign {
	margin: 20px 0;
	padding: 20px;
	padding-bottom: 10px;

	.row-buttons {
		margin-bottom: 29px;
	}
}