$movie-color: #e53935;
$books-color: #faa800;
$games-color: #4caf50;
$hqs-color: #1d87e4;
$animes-color: #7d57c1;
$musics-color: #660000;

@import 'default';
@import 'content';
@import 'current_reading';
@import 'recent_activities';
@import 'card_small';
@import 'sign';
@import 'buttons';
@import 'user';